asgiref==3.2.7
Django==3.1.12
entrypoints==0.3
flake8==3.7.9
flake8-docstrings==1.5.0
mccabe==0.6.1
modeltranslation==0.25
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
pytz==2019.3
snowballstemmer==2.0.0
sqlparse==0.3.1
